<h1 style="text-align: center;"><strong>There has been an error trying to link your account to GeniusBadge Firefox Add-on!</strong></h1>
<p style="text-align: center;"><strong><img src="https://abload.de/img/10012515zuja.jpg" alt="" width="509" height="300" /></strong></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><img src="https://abload.de/img/genius_approve0gjqn.jpg" alt="" width="508" height="274" /></strong></p>

