<script>
   if(location.href.indexOf("error")>=0){
      window.location.replace("https://larsbutnotleast.xyz/genius/auth/error.html")
   }
</script>
<h1 style="text-align: center;"><strong>Success!</strong></h1>
<p style="text-align: center;"><strong><img src="https://abload.de/img/10001683nufk.jpg" alt="" width="246" height="246" /></strong></p>
<h1 style="text-align: center;"><strong>Your account has been successfully linked with GeniusBadge Firefox Add-on!</strong></h1>
<p>&nbsp;</p>
<p><strong>You're just one step ahead from using your account with GeniusBadge:</strong></p>
<ol>
<li><strong>Copy your token: </strong></li>
<script>
   document.write(location.href.substr(location.href.indexOf("#")).split("&")[0].replace("#access_token=", ""))
</script>
<li><strong>Open your Add-ons settings and select GeniusBadges preferences.</strong></li>
<li><strong>Paste the token into this field:</strong></li>
</ol>
</strong><strong><img src="https://abload.de/img/genius_addon_redrkjzh.png" alt="" width="556" height="329" /></strong>

